/*doc
---
title: Hero Unit
name: hero-unit
category: Widgets-Redesign
---

A very large fancy header

```html_example
<div class="hero-unit">

    <a class="back hero-unit-back" href="">Go back</a>

    <h1 class="hero-unit-title">Here is a title for this hero unit</h1>

    <ul class="meta-list hero-unit-meta-list">
        <li class="meta-list-item">25.000€ Requested</li>
        <li class="meta-list-item">25.000€ Total Budget</li>
        <li class="meta-list-item">13. APRIL 2015</li>
        <li class="meta-list-item">From Oleksii Clifford</li>
        <li class="meta-list-item">4485 Votes</li>
        <li class="meta-list-item">232 Comments</li>
    </ul>

    <a class="button-cta" href="">Vote here</a>

    <div class="pop-menu m-right hero-unit-pop-menu" tabindex="0">
        <ul class="pop-menu-list">
            <li class="pop-menu-list-item"><a href=""><i class="icon-share pop-menu-list-icon"></i> Share</a></li>
            <li class="pop-menu-list-item"><a href=""><i class="icon-code pop-menu-list-icon"></i> Embed</a></li>
            <li class="pop-menu-list-item"><a href=""><i class="icon-pencil-square pop-menu-list-icon"></i> Edit</a></li>
        </ul>
    </div>

</div>
```
*/

.hero-unit {
    position: relative;
    text-align: center;

    .hero-unit-title {
        @include rem(margin-bottom, 26px);
    }

    .hero-unit-meta-list {
        @include rem(margin-bottom, 23px);
    }

    .hero-unit-back {
        @include rem(padding, 25px 0 45px 43px);
        display: block;
        text-align: left;
        width: 100%;
    }

    .hero-unit-pop-menu {
        @include rem(right, 22px);
        @include rem(top, 34px);
        position: absolute;
        text-align: left;
    }
}
