/* FIXME: create documentation */

$color-brand-one: #00a8e3;
$color-brand-two: #00678b;

$color-muted: #c2c2c2;

$color-text-normal: #898989;
$color-text-heading: #535353;
$color-text-secondary: #a4a4a4;
$color-text-emphasize: $color-text-heading;
$color-text-highlight: $color-brand-one;
$color-text-inverted: white;

$color-structure-border: #e5e5e5;
$color-background-base: white;

$color-invalid: #f00;
$color-valid: #0f0;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 17px;
$font-size-jumbo: 40px;

$font-size-h1: $font-size-jumbo;

$font-family-normal: "Cabin", sans-serif;

$line-height-normal: 1.3;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-heavy: 900;

// AD3 Alias : FontAwesome Alias
// so .icon-report is equivalent to .fa-flag
$icons: (
    "reply":        "reply",
    "report":       "flag",
    "favorite":     "star",
    "edit":         "pencil",
    "pop-menu":     "ellipsis-h",
    "share":        "share",
    "embed":        "code",
    "print":        "print",
    "deactivate":   "adjust",
    "delete":       "trash",
    "move":         "exchange",
    "create":       "plus-square-o"
);

$wrapper-width: 996px;

//// LEGACY

$color-text-introvert: $color-muted;
$color-background-base-introvert: $color-muted;
$font-weight-introvert: $font-weight-normal;
$color-structure-introvert: $color-muted;
$color-structure-normal: $color-muted;
$color-text-highlight-normal: $color-text-highlight;
$color-text-highlight-extrovert: $color-brand-two;
$color-function-valid: $color-valid;
$color-function-invalid: $color-invalid;

.listing-create-form {
    zoom: 1;
}
