/* FIXME: create documentation */

$color-brand-one: #00a8e3;
$color-brand-two: #00678b;

$color-muted: #c2c2c2;

$color-text-normal: #898989;
$color-text-heading: #535353;
$color-text-secondary: #a4a4a4;
$color-text-emphasize: $color-text-heading;
$color-text-highlight: $color-brand-one;
$color-text-inverted: white;

$color-structure-border: #e5e5e5;

$color-background-base: white;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 17px;
$font-size-jumbo: 40px;

$font-size-h1: $font-size-jumbo;

$font-family-normal: "Cabin", sans-serif;

$line-height-normal: 1.3;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-heavy: 900;
