/* FIXME: create documentation */

$color-text-normal: #898989;
$color-text-introvert: #535353;
$color-text-highlight-normal: #00a8e3;

$font-size-normal: 14px;

$font-family-normal: "Cabin", sans-serif;

//Line-height (leading)
$line-height-normal: 1.3;
